<nav>
	<ul class="navigation">
		<!-- Описание ссылок в меню и сами ссылки. -->
		<li><a href="/verify" style="border-left: 1px solid rgb(175, 175, 173);">Главная</a></li>
		<li><a href="/verify">Проверить ПЭДы ППС</a></li>
		<li><a href="/verify">Настройки</a></li>
		<li><form action="/exit" method="post"><button>Выход</button></form></li>
	</ul>
</nav>