<!DOCTYPE html>
<html>
<head>
	<title>Добавление Показателя</title>
	<meta charset="utf-8" />
</head>
<body>
	<%- include("partials/menuadmin.ejs") %>

	<%- include("partials/addkpi.ejs") %>
	<br>
	<%- include("../partials/footer.ejs") %>
	<link rel="stylesheet" type="text/css" href="../admin/form.css">
	<link rel="stylesheet" type="text/css" href="../admin/menu.css">
	<link rel="stylesheet" type="text/css" href="../admin/addkpi.css">

	<link rel="stylesheet" type="text/css" href="../slick-1.8.1/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="../slick-1.8.1/slick/slick-theme.css">

	<script type="text/javascript" src="../jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../admin/addkpi.js"></script>

	<script type="text/javascript" src="../slick-1.8.1/slick/slick.min.js"></script>
</body>
</html>