<!DOCTYPE html>
<html>
<head>
	<title>Список Показателей</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../admin/menu.css">
	<link rel="stylesheet" type="text/css" href="../list.css">
	<link rel="stylesheet" type="text/css" href="../footer.css">
	<link rel="stylesheet" type="text/css" href="../stylebut.css">
</head>
<body>
	<div class="wrapper">
		<div class="content">
			<%- include("partials/menuadmin.ejs") %>
			<h3 class="nametable">Список Показателей эффективности деятельности</h3>
			<%- include("partials/tablekpi.ejs") %>
		</div>
		
		<div class="footer">
			<%- include("../partials/footer.ejs") %>
		</div>
	</div>
	
</body>
</html>