<!DOCTYPE html>
<html>
<head>
	<title>Список Показателей</title>
	<meta charset="utf-8" />
</head>
<body>
	<%- include("partials/menuadmin.ejs") %>
	<p class="nametable">Список Показателей эффективности деятельности</p>
	<%- include("partials/tablekpi.ejs") %>
	<link rel="stylesheet" type="text/css" href="../admin/menu.css">
	<link rel="stylesheet" type="text/css" href="../admin/list.css">
	<style type="text/css">
		tr.row1 th:nth-child(1) {
			max-width: 100px;
		}
		tr.row2 th {
			max-width: 100px;
		}
		.namesection {
			color: #3B3B3B;
		}
	</style>
</body>
</html>