<!DOCTYPE html>
<html>
<head>
	<title>История действий</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/general_style/footer.css">	
	<link rel="stylesheet" type="text/css" href="/general_style/stylebut.css">
	<link rel="stylesheet" type="text/css" href="/general_style/menu.css">
	<link rel="stylesheet" type="text/css" href="logs.css">
	<link rel="stylesheet" type="text/css" href="/general_style/common.css">
</head>
<body>
	<div class="wrapper">
		<%- include("partials/menu.ejs") %>
		<div class="content">
			<form action="" method="get">
				<p class="namelist">История действий пользователей за
					<input type="date" name="date" id="date" class="date" value=<%=date%>>
					<input type="submit" class="buttonmypage" value="Показать">
				</p>
			</form>
			<ul class="logs" id="logs">
				<%- include("partials/list_logs.ejs") %>
			</ul>
		</div>
		
		<div class="footer">
			<%- include("../partials/footer.ejs") %>
		</div>
	</div>

	<script type="text/javascript" src="/plugins/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="./main.js"></script>
</body>
</html>