<!DOCTYPE html>
<html>
<head>
	<title>Закрыть кабинеты</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../admin/menu.css">
	<link rel="stylesheet" type="text/css" href="../footer.css">
	<link rel="stylesheet" type="text/css" href="../stylebut.css">
</head>
<body>
	<div class="wrapper">
		<div class="content">
			<%- include("partials/menu.ejs") %>

			<div class="formborderadmin">
			<% if(op) {%>
				<p class="text">Кабинеты открыты</p>
				<form name="close" action="/closeaccount" method="post">
					<input type="submit" class="buttonmypage" value="Закрыть доступ к кабинетам">
				</form>
			<%} %>
			<% if(!op) {%>
				<p class="text">Кабинеты закрыты</p>
				<form name="open" action="/openaccount" method="post">
					<input type="submit" class="buttonmypage" value="Открыть доступ к кабинетам">
				</form>
			<%} %>
			</div>

		</div>
		
		<div class="footer">
			<%- include("../partials/footer.ejs") %>
		</div>
	</div>
</body>
</html>