<nav>
	<ul class="navigation">
		<!-- Описание ссылок в меню и сами ссылки. -->
		<li><a href="/my_page" style="border-left: 1px solid rgb(175, 175, 173);">Главная</a></li>
		<li><a href="/my_page/edit_kpi">Отметить выполнение</a></li>
		<li><a href="/my_page/values_kpi">Список значений ПЭД</a></li>
		<% if(level) {%>
			<li><a href="/verify">Проверить ПЭДы ППС</a></li>
		<%} %>
		<li><a href="/settings">Настройки</a></li>
		<li><form action="/exit" method="post"><button>Выход</button></form></li>
	</ul>
</nav>