<form enctype="multipart/form-data" name="form1" action="/upload" method="post">
	<hr/>
	<h4>Добавление нового значения</h4>
	<input type="hidden" name="name" id="name">
	<% if(kpi.type == 2) {%>
		<% for(let j = 0; j < kpi.substrings.length; j++) {%>
			<input type="radio" name="radio" id="radio" value=<%=j+""%> checked>
			<%=kpi.substrings[j].description %>
		<%} %>
	<%} %>
	<br/>
	<label>Введите дату реализации ПЭДа</label>
	<input type="date" name="date" id="datekpi">
	<br/>
	<% if(!kpi.indicatorsSumm) {%>
	<label>Значение: </label>
	<input type="text" name="value" id="value">
	<%} %>
	<% if(kpi.indicatorsSumm) {%>
	<input type="hidden" name="value" value="1" id="value">
	<%} %>
	<label>Подтвердить: </label> 
	<textarea name="text" id="text"></textarea>  
	<br/><br/>
	<input class="file" type="file" name="file" id="file">
	<br/><br/>
	<button id="addkpi">Добавить показатель</button>
</form>