[Nn]ode_modules/*
modules/credentials.js
createdb/*
database/*
config/*
log/*
user_files/*
public/img/icons/*
public/plugins/*
public/info.txt
desktop.ini
package-lock.json
ÑÄÅËÀÒÜ.txt
kpi.iml
.idea/*
workers.xlsx