<!DOCTYPE html>
<html>
<head>
	<title>Обновление структуры</title>
	<%- include("../common/head.ejs")%>
</head>
<body>
	<%- include("../common/menu.ejs") %>
	<div class="wrapper">
		<div class="content container-fluid">
			<div>
				<p>Необходимо прикрепить Excel-файл.</p>
				<p>В каждой строке файла, начиная с первой (без перечисления названий в первой строке), 
					должна содержаться информация о структуре университета в следующем формате:</p>
				<p>В столбце <b>A</b> указывается факультут</p>
				<p>В столбце <b>B</b> указывается кафедра</p>
				<p>Кафедра указывается без слова "Кафедра" в именительном падеже</p>
			</div>
			<% if(action == 1) {%>
				<p class="uspeshno">Успешно</p>
			<%} %>
			<% if(action == 2) {%>
				<p class="errormess">Ошибка добавления</p>
			<%} %>
			<form enctype="multipart/form-data" action="" 
			method="post" class="formborderadmin">
				<input type="file" name="file" required>
				<input type="submit" class="buttonmypage" value="Добавить">
			</form>
		</div>
		<div class="footer">
			<%- include("../common/footer.ejs") %>
		</div>
	</div>

	<%- include("../common/scripts.ejs")%>
	
</body>
</html>