<!DOCTYPE html>
<html>
<head>
	<title>Вход в личный кабинет</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="general_style/form.css">
</head>
<body>
	<div class="auth">
	<form name="authorizForm" action="/user" method="POST" class="form-add">
		<div class="form-inner">
			<img src="/img/logo.png" alt="Логотип МТУСИ">
			<h3>Вход в личный кабинет</h3>
			<% if(close) {%>
				<p class="errortext">Доступ к личным кабинетам закрыт</p>
			<%} %>
			<% if(checkpassword) {%>
				<p class="errortext">Неправильно введен логин или пароль</p>
			<%} %>
			<label>Логин</label>
			<input type="text" name="login" placeholder="ivanov" required/><br>
			<label>Пароль</label>
			<input type="password" name="password" placeholder="password" required/>
			<input type="submit" name="submit" id="submit" value="Войти">
		</div>
	</form>
	</div>
	<style type="text/css">
		body, html {
			background: rgb(241, 241, 241);
		}
		.errortext {
			color: red;
		}
	</style>
	
</body>
</html>