<!DOCTYPE html>
<html>
<head>
	<title>Закрыть кабинеты</title>
	<%- include("common/head.ejs")%>
</head>
<body class="d-flex flex-column h-100">
	<header>
		<%- include("common/menu.ejs") %>
	</header>
	<main role="main" class="flex-shrink-0">
		<div class="content container-fluid">
			<h2>Доступ к личным кабинетам ППС</h2>
			<hr>
			<% if(op) {%>
				<p>Состояние ЛК: <b>кабинеты открыты</b></p>
				<form name="close" action="" method="post">
					<button type="submit" class="btn btn-primary btn-lg">Закрыть доступ к кабинетам</button>
				</form>
			<%} %>
			<% if(!op) {%>
				<p>Состояние ЛК: <b>кабинеты закрыты</b></p>
				<form name="open" action="" method="post">
					<button type="submit" class="btn btn-primary btn-lg">Открыть доступ к кабинетам</button>
				</form>
			<%} %>
		</div>
	</main>

	<div class="footer mt-auto py-3">
		<%- include("common/footer.ejs") %>
	</div>

	<%- include("common/scripts.ejs")%>
</body>
</html>