<!DOCTYPE html>
<html>
<head>
	<title>Проверка значений</title>
	<meta charset="utf-8" />
</head>
<body>
	<% if(mypage) {%>
		<form action="/exit" method="post"><button class="exit">Выход</button></form>
	<%} %>
	<% if(!mypage) {%>
		<a href="/mypage" class="exit">Назад</a>
	<%} %>
	<br/>
	<% if(worker.length == 0) {%>
	<p class="errormess">Нет доступных сотрудников</p>
	<%} %>
	<% if(worker.length != 0) {%>
	<form name="editform" action="/verify" method="post">
		<label for="worker">Сотрудник:</label>
		<input name="worker" list="worker" id="name">
		<datalist id="worker">
			<% for(let i = 0; i < worker.length; i++) {%>
			<option><%=worker[i].name%></option>
			<%} %>
		</datalist>
		
		<%- include("partials/findnumber.ejs") %>
		
	</form>
	<div id="tablekpi"></div>
	<%} %>
	<style type="text/css">
		button {
			padding: 10px;
		}
		.exit{
			border: 1px solid black;
			background-color: #DCDCDC;
			padding: 12px;
			font-size: 18px;
			text-decoration: none;
			margin: 10px;
			float: right;
		}
		.errormess {
			color: red;
		}
		tr td:last-child {
			text-align: center;
		}
		body {
			background: #E0FFFF;
		}
	</style>
	<% if(worker.length != 0) {%>
	<script type="text/javascript" src="../jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../verify/verify.js"></script>
	<script type="text/javascript" src="../findnumber.js"></script>
	<%} %>
</body>
</html>