.title-page {
    color:  #424949;
    margin-bottom: 10px;
}
.nav-link {
     color: rgba(255, 255, 255, 0.7) !important;
 }
.nav-link:hover {
    text-decoration: underline !important;
    color: rgba(255, 255, 255, 0.9) !important;
}
.active {
    color: rgba(255, 255, 255, 1) !important;
}
.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    padding-left: 15px;
}
.navbar {
    min-height: 70px !important;
}
.border-color-f td, .border-color-f th {
    border: 1px solid #876c99 !important;
}
.custom-file-label::after {
    content: "Обзор" !important;
}

.th-w-85{
    width: 85px !important;
}
.th-w-330{
    width: 330px !important;
}
@media screen and (min-width: 1200px) {
    .th-w-85{
        word-break: break-all;
    }
}