/*Затемнение дисплея*/
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.65);
	z-index: 999;
	-webkit-animation: fade .6s;
	-moz-animation: fade .6s;
	animation: fade .6s;
	overflow: auto;
}
/*Слой становится видимым*/
.overlay:target {
	display: block;
}
/*Растягиваю картинку на всю ширину*/
.popup img {
	width: 100%;
}
/*Характеристики самого окна, которое появляется с ответом сервера*/
.popup {
	top: 25%;
	left: 0;
	right: 0;
	font-size: 14px;
	margin: auto;
	width: 85%;
	min-width: 320px;
	max-width: 600px;
	position: absolute;
	padding: 15px 20px;
	border: 1px solid #383838;
	background: #fefefe;
	z-index: 1000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 14px/18px 'Tahoma', Arial, sans-serif;
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22),0 19px 60px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22),0 19px 60px rgba(0, 0, 0, .3);
	-ms-box-shadow: 0 15px 20px rgba(0, 0, 0, .22),0 19px 60px rgba(0, 0, 0, .3);
	box-shadow: 0 15px 20px rgba(0, 0, 0, .22),0 19px 60px rgba(0, 0, 0, .3);
	-webkit-animation: fade .6s;
	-moz-animation: fade .6s;
	animation: fade .6s;
}
/*Появление модального окошка с верхнего края экрана*/
.overlay:target:.popup {
	transform: translate(-50%, 0);
	top: 17%;
}
/*Внешний вид кнопки "Закрыть"*/
.close {
	top: -11px;
	right: -11px;
	width: 23px;
	height: 23px;
	position: absolute;
	padding: 0;
	border: 2px solid #ccd;
	border-radius: 15px;
	background-color: rgba(61, 61, 61, 0.81);
	box-shadow: 0 0 12px #010;
	text-align: center;
	text-decoration: none;
	font: 18px sans-serif;
	font-weight: bold;
	transition: all ease .9s;
}
.close:before {
	color: rgba(254, 254, 254, 0.89);
	content: "X";
	text-shadow: 0 1px 3px #010;
	font-size: 14px;
}
/*Изменение характеристик при наведении на область */
.close:hover {
	background-color: rgba(253, 21, 0, 0.83);
	transform: rotate(360deg);
}