<!DOCTYPE html>
<html>
<head>
	<title>Не найдено</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/general_style/common.css">
</head>
<body>
	<h3>Страница не найдена:(</h3>
	<a href="/">Вернуться к сайту</a>
	<style type="text/css">
		h3 {
			color: red;
		}
	</style>
</body>
</html>