<!DOCTYPE html>
<html>
<head>
	<title>Ошибка</title>
	<meta charset="utf-8">
</head>
<body>
	<h3>Что-то пошло не так:(</h3>
	<style type="text/css">
		h3 {
			color: red;
		}
	</style>
</body>
</html>