<!DOCTYPE html>
<html>
<head>
	<title>Ошибка</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/general_style/common.css">
</head>
<body>
	<h3>Что-то пошло не так:(</h3>
	<p>Обратитесь к разработчику</p>
	<style type="text/css">
		h3 {
			color: red;
		}
	</style>
</body>
</html>