.title-page {
    color:  #424949;
    margin-bottom: 10px;
}
.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    padding-left: 15px;
}
.navbar{
    min-height: 70px !important;
}
body, html {
    background: rgb(241, 241, 241);
}