.title-page {
    color:  #424949;
    margin-bottom: 10px;
}
.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    padding-left: 15px;
}
.navbar{
    min-height: 70px !important;
}
.border-color-f td, .border-color-f th {
    border: 1px solid #876c99 !important;
}