
		button {
			padding: 3px;
		}
		.exitt {
			float: right;
			color: black;
			margin: 25px 50px 0 0;
			background-color: white;
    		border: 2px solid #A1B9D5;
			box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2), 1px 3px 15px 1px rgba(0,0,0,0.1);
			/*padding: 8px 15px 8px 15px;*/
			padding: .3em 1em;
			font-size: 16px;
			font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		}

		.exitt:hover, .buttonbackheader:hover, .buttonmypage:hover {
			background: rgb(236, 240, 243); 
			color: rgb(38, 29, 58);
		}

		.buttonbackheader
		{
			color: black;
			background-color: white;
    		border: 2px solid #A1B9D5;
			box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2), 1px 3px 15px 1px rgba(0,0,0,0.1);
			padding: 6px 13px 6px 13px;
			/*padding: 5px;*/
			font-size: 16px;
			text-align: center; 
			font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		}
		a {
			font-size: 18px;
			text-decoration: none;
			color: black;
		}
		
		td a{
			font-size: 9px;
		}

		.buttonmypage
		{
			font-size: 16px;
			background-color: white;
    		color: black;
    		border: 2px solid #A1B9D5;
			box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2), 1px 3px 15px 1px rgba(0,0,0,0.1);
			padding: .3em 1em;
			font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		}

		/*.errormes {
			color: rgb(43, 8, 8);
			font-size: 20px;
			text-align: center;
			border: 2px solid #A1B9D5;
			box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2), 1px 3px 15px 1px rgba(0,0,0,0.1);
			width: 50%;
			padding: 2%;
			margin-left: 20%;
			margin-top: 3%;
		}*/

		tr td:last-child {
			text-align: center;
		}

		.tekuchiepokaz
		{
			margin-top: 10px;
		}

		.textfindnumber
		{
			font-size: 16px;
		}

		.flexparent{
			flex-wrap: wrap;
			justify-content: left; 
			margin: -6px 0px 5px 0px;
			align-items: center;
			display: flex;
		}

		.flexblocks{
			margin: 0 0 5px 5px;
			text-align: center;
		}


/*рамка форм ?? */
		.formborder{
			text-align: center; 
			margin-top: -13px; 
			padding: 5px 5px 5px 4px;
			background-color: white;
			color: black;
    		border: 1px solid #A1B9D5;
		}

		.text{
			font-size: 16px;
			font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		}

/*рамка форм в админской панели"*/
		.formborderadmin {
			padding: 20px 0 0 50px;
			border: 1px solid #A1B9D5;
			font-size: 16px;
			font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
			width: 100%;
			margin-top: 10px;
			border-radius: 10px;
		}
		.formborderadmin h1{
			text-align: center;
			margin-bottom: 20px;
		}

/*стили дат"*/
		.date{
			text-align: center; 
			margin: 2px 5px;
		}

/*рамка на моей странице для "нет оценок"*/
	.bordernoozenok{
		border: 1px solid #A1B9D5;
		 width: 20%; 
		 text-align: center; 
		 margin: 10px 0;
		
	}