.logs {
	list-style: none;
	padding: 0;
	font-family: "Lucida Sans";
	border: 1px solid rgb(158, 158, 158);;
    box-shadow: none;
    border-radius: .28571429rem;
	border-collapse: collapse;
	width: 70%;
	margin-left: 15%;
	margin-top: 10px;
	font-size: 18px;
}

.logs li {
	padding: 10px;
	border-left: 10px solid rgb(158, 158, 158);
}

.logs li:nth-child(odd) {
	background: rgba(221, 222, 222, 0.226);
	border-bottom: 1px solid rgb(158, 158, 158);
}

.logs li:nth-child(even) {
	background: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(158, 158, 158);
}


.namelist {
	color: black;
	margin-top: 15px;
	margin-bottom: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 16px;
	text-align: center;	
}