.logs {
	list-style: none;
	border-left: 10px solid #F3CC5A;
	padding: 0;
	font-family: "Lucida Sans";
}

.logs li {
	padding: 10px;
}

.logs li:nth-child(odd) {
	background: #1C9675;
}

.logs li:nth-child(even) {
	background: #E0DBC5;
}
.namelist {
	color: #3B3B3B;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 16px;
	text-align: center;	
}