
nav {
	background-color: white;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2), 1px 3px 15px 1px rgba(0,0,0,0.1);
	/*margin-top:25px; /*делаем отступ сверху
	height: 50px;*/
}

/*убираем отступы и поля, а также list-style для "ul", и добавляем "position:relative" */
nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

/*применяем inline-block позиционирование к элементам навигации*/
nav ul li {
	display: inline-block;
}

/*стилизуем ссылки*/
nav a, nav button {
	display: block;
	padding: 0 15px;
	color: rgb(0, 0, 0);
	font-size: 20px;
	line-height: 60px;
	text-decoration: none;
	border-right: 1px solid rgb(175, 175, 173); /*добавляем бордюр справа*/
}


/*изменяем цвет фона при наведении курсора */
nav a:hover, nav button:hover {
	border-right: 1px solid rgb(175, 175, 173);
	background: rgb(236, 240, 243); 
	color: rgb(43, 39, 39);
}

nav ul li:hover{background: rgb(187, 191, 194);}

nav button {
	border: 0;
	color: black;
	background: white;
	border-right: 1px solid rgb(175, 175, 173); /*добавляем бордюр справа*/
}

/*скрываем выпадающие списки по умолчанию и задаем абсолютное позиционирование*/
nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

/*отображаем выпадающий список при наведении */
nav ul li:hover > ul {
	display: inherit;
	left: auto;
	right: auto;
	top: auto;
}

/*первый уровень выпадающего списка*/
nav ul ul li {
	min-width: 170px;
	float: none;
	display: list-item;
	position: relative;
	z-index: 5;
	background: white;
	border: 1px solid rgb(175, 175, 173); 
}
body, html {
	padding: 0;
	margin: 0;
	background: white;
	margin-top: 15px;
}
