<!DOCTYPE html>
<html>
<head>
	<title>Удаление пользователя</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/general_style/menu.css">
	<link rel="stylesheet" type="text/css" href="/general_style/footer.css">
	<link rel="stylesheet" type="text/css" href="/general_style/stylebut.css">
	<link rel="stylesheet" type="text/css" href="/general_style/form.css">

</head>
<body>
	<div class="wrapper">
		<%- include("../partials/menu.ejs") %>
		<div class="content">
			<% if(action == 1) {%>
				<p class="uspeshno">Успешно</p>
			<%} %>
			<% if(action == 2) {%>
				<p class="errormess">Ошибка удаления</p>
			<%} %>
			<form name="deleteuser" action="" 
			class="formborderadmin" method="post" autocomplete="off">
				<label for="users">Сотрудник:</label>
				<input name="user" list="users" style="width: 35%; font-size: 16px;" required>
				<datalist id="users">
					<% for(let i = 0; i < users.length; i++) {%>
						<option value="<%=users[i].login%>"><%=(users[i].name + ", " + users[i].position)%></option>
					<%} %>
				</datalist>
				<input type="submit" class="buttonmypage" name="sub" value="Удалить">
			</form>
		</div>
		
		<div class="footer">
			<%- include("../../partials/footer.ejs") %>
		</div>
	</div>

</body>
</html>