<form name="adduser" action="/adduser" method="post" class="form-add" style="margin-top: 5%;">
	<div class="form-left-decoration"></div>
	<div class="form-right-decoration"></div>
	<div class="circle"></div>
	<div class="form-inner">
		<h3>Добавить пользователя</h3>
		<div class="" id="error"></div>
		<div>
			<label>ФИО</label>
			<input type="text" name="name" id="name" placeholder="Иванов Иван Иванович" required>
		</div>
		<div>
			<label>Должность</label>
			<select name="position" id="position">
				<% for(let i = 0; i < positions.length; i++) {%>
				<option><%=positions[i].position%></option>
				<%} %>
			</select>
		</div>
		<div id="facultydiv">
			<% if(faculty.length != 0) {%>
				<label>Факультет</label>
				<select name="faculty" id="faculty">
					<% for(let i = 0; i < faculty.length; i++) {%>
						<option><%=faculty[i]%></option>
					<%} %>
				</select>
			<%}%>
		</div>
		<input type="hidden" name="numdepartment" id="numdepartment">
		<div id="departmentdiv">
			<label>Кафедра</label>
				<select name="department" id="department">
					<% for(let i = 0; i < department.length; i++) {%>
						<option><%=department[i]%></option>
					<%} %>
				</select>
		</div>
		<div>
			<label>login</label>
			<input type="text" name="login" id="login" placeholder="ivanov" required>
		</div>
		<div>
			<label>Пароль</label>
			<input type="text" name="password" id="password" placeholder="password" autocomplete="off" required>
		</div>
		<input type="submit" name="submit" id="add" value="Добавить">
	</div>
</form>