<form name="addkpi" action="/addkpi" method="post" class="add">
	<div class="form-left-decoration"></div>
	<div class="form-right-decoration"></div>
	<div class="circle"></div>
	<div class="form-inner">
		<h3>Добавить Показатель эффективности деятельности</h3>
		<div class="errormess" id="error"></div>
		<div class="input__container" id="infokpi">
			<div>
				<label>Шифр</label>
				<input type="text" name="name" id="name" class="notempty" placeholder="Шифр" autocomplete="off">
			</div>
			<div>
				<label>Раздел</label>
				<input name="section" list="section" id="inputsection" class="notempty" placeholder="Раздел" autocomplete="off">
			</div>

			<datalist id="section">
				<% for(let i = 0; i < section.length; i++) {%>
				<option><%=section[i]%></option>
				<%} %>
			</datalist>
			<div>
				<label>Подраздел</label>
				<select name="subtype" id="subtype">
					<option>Должностные</option>
					<option>Персональные</option>
					<option>-</option>
				</select>
			</div>
			<div>
				<label>Номер</label>
				<input type="text" name="number" id="number" class="figure" placeholder="номер" autocomplete="off">
			</div>
			<div>
				<label>Показатель</label>
				<p><textarea name="description" id="desc" class="notempty"></textarea></p>
			</div>
			<div>
				<label>Могут ли выполняться несколько критериев одновременно?</label>
				<input type="radio" name="type" value="1" id="radio1" class="radio" checked="">
				<label for="radio1">Нет</label>
				<input type="radio" name="type" value="2" id="radio2" class="radio">
				<label for="radio2">Да</label>
			</div>
			<div>
				<label>Количество критериев оценки</label>
				<select name="count" id="count">
					<% for(let i = 1; i <= 10; i++) {%>
						<option><%=i%></option>
					<%} %>
				</select>
			</div>
		</div>
		<div class="addcrit">
			<div id="crit0">
				<hr>
				<label id="critname">Критерий №1</label>
				<div class="errormess" id="errorсrit"></div>
				<div class="input__container">
					<div class="hidden">
						<label>Показатель критерия</label>
						<p><textarea name="description_0" id="description" class="notempty"></textarea></p>
					</div>
					<div>
						<label>Описание критерия</label>
						<p><textarea name="namecriterion_0" id="namecriterion" class="notempty"></textarea></p>
					</div>
					<div>
						<label>Тип</label>
						<select name="type_0" class="typecriterion">
							<option>Да/Нет</option>
							<option>Не менее n</option>
							<option>От a до b</option>
						</select>
					</div>
					<div>
						<div class="n">
							<label>n</label>
							<input type="text" name="n" id="n" class="figure">
						</div>
						<div class="a">
							<label>a</label>
							<input type="text" name="a" id="a" class="figure">
						</div>
						<div class="b">
							<label>b</label>
							<input type="text" name="b" id="b" class="figure">
						</div>
					</div>
				</div>
				
				<label>Оценки по группам пользователей:</label>
				<div class="input__container">
					<div>
						<label>Декан</label>
						<input type="text" name="g1_0" id="g1" class="figure" placeholder="декан" autocomplete="off">
					</div>
					<div>
						<label>Зав.кафедрой</label>
						<input type="text" name="g2_0" id="g2" class="figure" placeholder="зав.кафедрой" autocomplete="off">
					</div>
					<div>
						<label>Профессор</label>
						<input type="text" name="g3_0" id="g3" class="figure" placeholder="профессор" autocomplete="off">
					</div>
					<div>
						<label>Доцент</label>
						<input type="text" name="g4_0" id="g4" class="figure" placeholder="доцент" autocomplete="off">
					</div>
					<div>
						<label>Ст.преподаватель</label>
						<input type="text" name="g5_0" id="g5" class="figure" placeholder="ст.преподаватель" autocomplete="off">
					</div>
					<div>
						<label>Ассистент/преподаватель</label>
						<input type="text" name="g6_0" id="g6" class="figure" placeholder="ассистент/преподаватель" autocomplete="off">
					</div>
				</div>
			</div>
		</div>
		<div class="input__container">
			<div><input type="submit" name="prev" id="prev" value="Предыдущий критерий"></div>
			<div><input type="submit" name="next" id="next" value="Следующий критерий"></div>
		</div>
		<input type="submit" name="submit" id="add" value="Добавить ПЭД">
	</div>
</form>