<div class="widget">
    <h3>Настройки</h3>
    <ul>
      <li><a href="/admin/set-period">Текущий период</a></li>
      <li><a href="/admin/close-accounts">Доступ к ЛК</a></li>
      <li><a href="/admin/change-password">Изменить пароль</a></li>
    </ul>
  </div>