<!DOCTYPE html>
<html>
<head>
	<title>ПФУ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/general_style/footer.css">
	<link rel="stylesheet" type="text/css" href="/general_style/stylebut.css">
</head>

<header>
	<a class="exitt" href="/exit">Выход</a>

</header>
<body>
	<div class="wrapper">
		<div class="content">
				<br>
				<br>
			<div class="formborderadmin"><% if(set) {%>
				<p class="text">Текущий период: с <%=period.date1Str%> по <%=period.date2Str%></p>
				<form action="/pfu" method="post">
					<input type="submit" class="buttonmypage" value="Сформировать отчет за период">
				</form>
			<%} %> 
			<% if(!set) {%>
				<div><p>Не был установлен период для отчета.</p>
					<p>Обратитесь к администратору сайта.</p></div>
			<%} %>
		</div>
	</div>
		
		<div class="footer">
			<%- include("../partials/footer.ejs") %>
		</div>
	</div>

</body>
</html>